/* 公共样式 */
html {
    color: #333;
}
body {
    height: 3000px;
    color: #bbb;
}
.w {
    width: 1200px;
    margin: 0 auto;
}
.fl {
    float: left;
}
.fr {
    float: right;
}
a {
    color: #9b9ea0;
    font-size:12px;
}
body a:hover {
    color: #00C1DE;
}
/* s_header star */
/* 背景图片部分 */
.s_header {
    background: url(../S_images/1.jpg) no-repeat 0 -90px;
    background-size: cover;
    height: 466px;
    transition: all 1s;
    position: relative;
}
.s_header:hover {
    background-position: 0 -100px;
}
/* 安全部分 */
.s_cont h1 {
    font-size: 34px;
    color: #fff;
    padding-top: 85px;
}
/* 三更部分 */
.s_cont p {
    font-size: 12px;
    padding-top: 26px;
}
/* 相关链接部分 */
.s_related_top {
    margin-top: 56px;
    font-size: 12px;
    width: 100%;
    height: 35px;
    line-height: 35px;
    background-color: rgba(255, 255, 255, .1);
    overflow: hidden;
}
.s_related_top span {
    padding-left: 18px;
}
.s_related_top li {
    float: left;
    padding: 0 20px;
    position: relative;
}
.s_related_top li:after {
    content: '';
    position: absolute;
    width: 1px;
    height: 12px;
    background: #bbb;
    top: 12px;
    right: 3px;
}
.s_related_top li:last-child:after {
    display: none;
}
/* 最新活动部分 */
.s_related_bottom {
    width: 100%;
    height: 85px;
    margin-top: 2px;
    background-color: rgba(255, 255, 255, .1);
    font-size: 12px;
    padding-top: 18px;
    overflow: hidden;
}
.s_new {
    margin-right: 140px;
    margin-left: 22px;
}
.s_product {
    margin-right:140px;
}
.s_new_left,
.s_product_left,
.s_safe_left {
    margin-right: 12px;
}
.s_cont {
    height: 466px;
}
.s_cont .s_related_bottom p {
    padding: 0;
    margin-bottom: 16px;
}
/* header 导航部分 */
.s_cont .s_nav {
    position: absolute;
    bottom: 0;
    width: 1200px;
    margin: 0 auto;
    height: 50px;
    line-height: 50px;
    z-index: 9999;
}
.s_cont .s_nav ul {
    width: 618px;
    margin: 0 auto;
}
.s_cont .s_nav ul li {
    float: left;
    padding: 0 33px;
    position: relative;
}
.s_cont .s_nav ul li:after {
    content: '';
    width: 60px;
    height: 2px;
    bottom: 0;
    left: 31px;
    background-color: #00C1DC;
    position: absolute;
    display: none;
}
.s_cont .s_nav ul li:nth-child(3):after {
    left: 23px;
}
.s_cont .s_nav ul li:hover:after {
    display: block;
}
.s_cont .s_nav ul li:hover a {
    color: #00C1DC;
}
.s_cont .s_nav ul li a {
    font-size: 14px;
}
/* s_header end */
/* main star */
.s_main a {
    color: #bbb;
    font-size: 14px;
}
/* 应用场景 部分 */
.s_use {
    background: url(../S_images/2.png) no-repeat 0 0;
    background-size: 100%;
    height: 692px;
    transition: all 1s;
}
.s_use:hover {
    background-position-y: -10px;
}
/* 左边 */
.s_use .s_left {
    width: 280px;
    height: 444px;
    background: rgba(255, 255, 255, .1);
    position: relative;
    margin-right: 140px;
    padding: 22px 0;
    overflow: hidden;
    cursor: pointer;
}
.s_left .s_mask {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(183,186,189,.2);
    z-index: 1;
}
.s_use .s_top {
    width: 100%;
    height: 22px;
    background: #414447;
    text-align: center;
    position: absolute;
    top: 0;
    z-index: 6;
}
.s_use .s_bottom {
    width: 100%;
    height: 22px;
    background: #414447;
    text-align: center;
    position: absolute;
    bottom: 0;
    z-index: 6;
}
.s_use .s_top img,
.s_use .s_bottom img{
    width: 35px;
    margin: 0 auto;
}
.s_use img {
    width: 32px;
}
.s_use .s_icon {
    width: 100%;
    position: relative;
    left: 0;
    color: #fff;
    font-size: 14px;
    overflow: hidden;
    transition: all 1s;
}
.s_use .s_icon img {
    height: 40px;
    width: 40px;
    vertical-align: middle;
    margin: 0 26px 0 30px;
}
.s_use .s_icon li {
    height: 80px;
    line-height: 80px;
    z-index: 5;
    box-sizing: border-box;
    position: relative;
    top: 22px;
}
.s_use .s_icon li:hover {
    background: #00c1dc;
}
#s_xs {
    display: none;
}
#s_pxa {
    display: none;
}
/* 右边 */
.s_use .s_right {
    width: 780px;
    margin-top: 64px;
    display: none;
}
#s_a {
    display: block;
}
.s_right .s_section {
    border-bottom: 1px solid #505760;
}
.s_right .s_topic {
    font-size: 24px;
    color: #fff;
    margin-bottom: 26px;
}
.s_right .s_des {
    width: 660px;
    font-size: 14px;
    margin-bottom: 30px;
    color: #9B9EA0;
}
.s_right .s_advice {
    height: 124px;
    border-bottom: 1px solid #505760;
    margin-bottom: 22px;
    padding-top: 32px;
}
.s_right .s_tell {
    font-size: 18px;
    color: #fff;
    margin-bottom: 25px;
}
.s_right a {
    color: #00C1DC;
    font-size: 14px;
}
.s_right .s_rec .s_pic {
    margin-right: 112px;
}
.s_right .s_rec div {
    float: left;
}
.s_right .s_rec img {
    width: 22px;
    height: 22px;
    vertical-align: middle;
    margin-right: 8px;
}
.s_right .s_rec span {
    font-size: 14px;
    color: #fff;
}
.s_right .s_rec span:hover {
    color: #00C1DC;
}
.s_right .s_rec .ff {
    margin-right: 112px;
}
.s_right .s_rec .s_buy {
    width: 100px;
    height: 30px;
    background: #505355;
    font-size: 14px;
    color: #fff;
    text-align: center;
    line-height: 30px;
}
.s_right .s_rec .s_buy:hover {
    background: #00c1dc;
}
/* 典型客户 部分 */
.s_client {
    width: 100%;
    height: 750px;
    background: #272C2F;
}
.s_client .s_detail {
    width: 285px;
    height: 242px;
    background: #34393C;
    float: left;
    margin-right: 18px;
    position: relative;
    overflow: hidden;
    cursor: pointer;
}
.s_client .s_detail .s_firm {
    padding-top: 8px;
}
.s_client .s_detail img {
    width: 100%;
    height: 99px;
}
.s_client .s_detail:nth-child(4n) {
    margin-right: 0;
}
.s_client .s_detail:nth-child(n + 4) {
    margin-bottom: 20px;
}
.s_dcc {
    width: 244px;
    height: 1px;
    background: #505760;
    margin: 0 auto;
}
.s_client .s_lists {
    height: 104px;
}
.s_client .s_items {
    float: left;
    margin-left: 16px;
    margin-top: 27px;
}
.s_client .s_items img {
    width: 25px;
    height: 25px;
}
.s_pro_cont {
    margin: 15px 0 0 18px;
    font-size: 14px;
}
.s_client h5 {
    font-size: 14px;
}
.s_client h5:hover {
    color: #00C1DC;
}
.s_client .s_introduce {
    background: #00C1DE;
    color: #fff;
    padding: 20px;
    height: 120px;
    box-sizing: border-box;
    line-height: 20px;
    font-weight: 400;
    font-size: 14px;
}
.s_client .s_detail .s_firm,
.s_client .s_detail .s_dcc,
.s_client .s_detail .s_pro,
.s_client .s_detail .s_introduce {
    transition: all .5s;
}
/* 特效 */
.s_client .s_detail:hover .s_firm,
.s_client .s_detail:hover .s_dcc {
    transform: translateY(-25px);
}
.s_client .s_detail:hover .s_firm img {
    display: none;
}
.s_client .s_detail:hover .s_pro,
.s_client .s_detail:hover .s_introduce {
    transform: translateY(-10px);
}
/* 产品说 部分 */
.s_speak {
    height: 668px;
    background: #1C1E1E;
}
.s_speak li {
    height: 65px;
}
.s_speak .s_left img {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    vertical-align: middle;
    margin-right: 22px;
}
.s_speak .s_left {
    margin-top: 40px;
}
.s_speak .s_right {
    margin-left: 124px;
    margin-top: 5px;
    position: relative;
    cursor: pointer;
}
.s_speak .s_play {
    width: 662px;
    height: 400px;
    background: #071730;
    line-height: 400px;
    transition: all .5s;
}
.s_speak .s_play:hover {
    background: rgba(255, 255, 255, .1);
}
.s_speak .s_play .s_plays {
    width: 52px;
    height: 52px;
    margin: 0 auto;
    display: none;
}
.s_speak .s_play:hover .s_plays {
    display: block;
}
.s_speak .s_int {
    width: 662px;
    height: 60px;
    color: #fff;
    font-size: 14px;
    background-color: #00C1DC;
    position: absolute;
    bottom: 0;
    left: 0;
    line-height: 60px;
    padding-left: 22px;
}
/* 社区热点 部分 */
.s_foot {
    height: 816px;
    background: url(../S_images/3.png) no-repeat center center;
    background-size: 100%;
    background-color: #34383A;
}
.s_hot_cont {
    height: 182px;
    background: rgba(0,0,0,.3);
    position: relative;
    padding: 30px 0;
    box-sizing: border-box;
}
.s_msglist {
    height: 138px;
}
.s_msglist ul {
    width: 600px;
    float:left;
    height: 138px;
}
.s_msglist li {
    overflow: hidden;
    margin: 9px 0;
    padding-left: 134px;
    box-sizing: border-box;
    cursor: pointer;
}
.s_msglist ul:first-child:after {
    content: '';
    position: absolute;
    top: 40px;
    left: 610px;
    width: 1px;
    height: 100px;
    background: #4e545c;
}
/* 行业动态 部分 */
.s_title {
    padding-top: 80px;
    padding-bottom: 60px;
    text-align: center;
    color: #BBB;
    font-size: 24px;
}
.s_editionitem {
    float: left;
    padding-right: 20px;
    width: 50%;
    height: 190px;
    box-sizing: border-box;
    margin-bottom: 15px;
    overflow: hidden;
    position: relative;
}
.s_page {
    width: 290px;
    overflow: hidden;
    position: absolute;
    top: 0;
    bottom: 0;
}
.s_mask {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: -webkit-linear-gradient(bottom,rgba(0,0,0,.8) 30%,transparent 100%);
    background: linear-gradient(to top,rgba(0,0,0,.8) 30%,transparent 100%);
}
.s_page img {
    width: 290px;
    height: 190px;
    overflow: hidden;
    transition: all .5s;
}
.s_page:hover img {
    transform: scale(1.1);
}
.s_name {
    position: absolute;
    bottom: 8px;
    color: #fff;
    padding-left: 10px;
    font-weight: lighter;
    letter-spacing: 1px;
    font-size: 14px;
}
.s_outlinelist {
    height: 190px;
    text-align: center;
    margin-left: 290px;
    padding: 20px;
    box-sizing: border-box;
    background: rgba(0,0,0,.3);
}
.s_outlineitem {
    height: 50px;
    line-height: 50px;
    text-align: left;
    overflow: hidden;
}
/* main end  */
/* foot 开始 */
.s_fot {
    width: 100%;
    height: 116px;
    background: #00C1DC;
    padding-top: 40px;
    cursor: pointer;
}
.s_enroll {
    width: 216px;
    height: 36px;
    background: #fff;
    margin: 0 auto;
    line-height: 36px;
    text-align: center;
}
.s_enroll:hover {
    background: rgba(255, 255, 255, .9);
}
.s_enroll a {
    font-size: 16px;
    color: #00C1DC;
}